.bill-page-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.bill-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  gap: var(--gap-l);
  padding: var(--padding-m);
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-l);
}

.menu-icon-container {
  padding: var(--padding-m);
  position: absolute;
  left: 0;
  border: 1px solid red;
  cursor: pointer;
}

@media (min-width: var(--screen-m)) {
  .bill-page-container {
    flex-direction: row;
  }
}
