.button {
  padding: 0.5em 1em;
  min-width: 100px;
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-green);
  color: var(--font-color);
}

.delete {
  border: 2px solid var(--negative);
  color: var(--font-color);
}

.delete:hover {
  background-color: var(--negative);
  color: var(--font-color-inverted);
}

.delete:active {
  background-color: var(--negative-light);
}

.edit {
  border: 2px solid var(--blue);
  color: var(--font-color);
}

.edit:hover {
  background-color: var(--blue);
  color: var(--font-color-inverted);
}

.edit:active {
  background-color: var(--blue-light);
}

.standard {
  border: 2px solid var(--primary-slate);
  color: var(--font-color);
}

.standard:hover {
  background-color: var(--primary-slate);
  color: var(--font-color-inverted);
}

.standard:active {
  background-color: var(--primary-slate-light);
}

.save {
  border: 2px solid var(--secondary-green);
  color: var(--font-color);
}

.save:hover {
  background-color: var(--secondary-green);
  color: var(--font-color-inverted);
}

.save:active {
  background-color: var(--secondary-green-light);
}
