.nav-bar {
  display: grid;
  background-color: var(--primary-slate);
  color: var(--font-color-inverted);
  grid-template-columns: 2fr 1fr;
  column-gap: 1em;
  padding: 8px;
  width: 100%;
  min-height: 75px;
  align-content: center;
}

.nav-logout-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.nav-logout {
  padding: 0.5em 1em;
  color: var(--negative);
  border-radius: var(--border-radius);
}

.nav-logout:hover {
  border: 2px solid var(--negative);
}

.nav-logout:active {
  background-color: var(--negative-light);
  color: var(--font-color);
}

.nav-title {
  display: none;
}

.nav-links-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  box-sizing: border-box;
}

.nav-link {
  text-align: center;
  font-size: large;
  padding: 0.5em 1em;
  cursor: pointer;
  border: 2px solid rgb(30 41 59);
}

.nav-link:hover {
  border-radius: 4px;
  color: var(--secondary-green);
  border: 2px solid var(--secondary-green);
}

.nav-link:active {
  background-color: var(--secondary-green-light);
  color: var(--primary-slate);
}

.nav-selected {
  color: var(--secondary-green);
  border-radius: 0;
  border: none;
  border-bottom: 2px solid var(--secondary-green);
}

@media (min-width: 750px) {
  .nav-title {
    display: grid;
    place-content: center;
  }
  .nav-bar {
    grid-template-columns: 2fr 5fr 1fr;
  }
}
